body{
    font-family: sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(213, 241, 243);
}

textarea{
    width: 100%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
}
textarea:focus{
    border-color: #5b9dd9;
    outline: none;
}

#counter{
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}
.warning{
    color: orangered;
}
.danger{
    color: red;
    font-weight: bold;
}
.over-limit{
    color: red;
}

textarea.over-limit{
    border-color: red;
    background-color: #ffe6e6;
}