body{
    background-color: rgb(82, 81, 81);
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    color: white;
    background: rgba(119, 118, 118, 0.8);
    text-transform: uppercase;
    padding:20px;
    border-radius: 10px;
}

#colorCode{
    margin-top: 20px;
    font-size: 40px;
    color: white;
    background: rgba(119, 118, 118, 0.8);
    padding:10px 20px;
    border-radius: 5px;
}

button{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}